// -- Variables --
$mainColor: #49C5B6;
$secondaryColor: #FF9398;
$largeText: 1.5rem;
$pagePadding: 200px;
$shadowSize: 8px;
$transition: all 0.2s ease;

// Image
$imageHeight: 460px;
$imageWidth: 360px;
$imageRadius: 12px;

$mainPictureOffsetX: 90px;
$mainPictureOffsetY: 70px;
$mainPictureRotation: 13deg;

// Global styles
* {
  color: white;
}

.mainColor {
  color: $mainColor;
}

.background {
  background-color: black;
}

.largeText {
  font-size: $largeText;
}

.page {
  height: 100vh;
  padding-inline: $pagePadding;
}

.styledButton {
  width: fit-content;
  background-color: $mainColor;
  padding: 8px 13%;
  border: none;
  border-radius: 6px;

  -webkit-box-shadow: $shadowSize $shadowSize 0px 0px $secondaryColor;
  -moz-box-shadow: $shadowSize $shadowSize 0px 0px $secondaryColor;
  box-shadow: $shadowSize $shadowSize 0px 0px $secondaryColor;
  transition: $transition;
}

.styledButton:hover {
  border-radius: 12px;
  scale: 0.95;
  transform: rotate(2deg);
  box-shadow: 0px 0px 0px 4px white;
  // outline: solid white 4px;
}

.line {
  border-radius: $imageRadius;
  opacity: 1;
  border: none;
  position: absolute;
  background-color: $mainColor;
  height: 6px;
  z-index: -1;
}

.page:not(#homePage) .title {
  margin-bottom: 2em;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(57, 57, 57);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $mainColor;
}

.label {
  background-color: $mainColor;
  border-radius: 8px;
}

// Navigation
#navigation {
  transform: translateY(-50%);
  z-index: 100;
}

#navigation button {
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  width: 5em;
  background: none;
  opacity: 0.1;
  transition: $transition;
}

#navigation button path {
  transition: $transition;
}

#navigation button.active {
  opacity: 1;
}

#navigation button.active path {
  cursor: pointer;
  scale: 0.95;
  transform: rotate(5deg);
  color: white;
  opacity: 0.4;
}

#navigation button:hover:not(.active) {
  opacity: 0.2;
  transform: rotate(5deg);
}

// Home
.imageContainer {
  height: $imageHeight;
  width: $imageWidth;
}

.mainPicture,
.mainPictureShadow {
  border-radius: $imageRadius;
  height: $imageHeight;
  width: $imageWidth;
}

.mainPicture {
  z-index: 1;
  transition: all 1s linear;
}

.mainPictureShadow {
  background-color: $secondaryColor;
  position: absolute;
  left: $mainPictureOffsetX;
  top: $mainPictureOffsetY;
  transform: rotate($mainPictureRotation);
}

.mainPicture:active {
  transform: rotate3d(360, 10, 10, 360deg);
}

.title {
  font-size: 3.5rem;
}

#homePage .line {
  transform: translate(-50%, -50%) rotate(-75deg);
  top: 50%;
  left: 55%;
  width: 600px;
}

// About me
.aboutElement {
  border: solid 4px $secondaryColor;
  padding: 30px;
  height: 20em;
  width: 20em;
  border-radius: 12px;
  text-align: center;
  transition: $transition;
}

.aboutElement:hover {
  cursor: pointer;
  scale: 0.95;
  border-color: $mainColor;
  transform: rotate(5deg);
}

.aboutElement a {
  color: white
}

#aboutPage .lineTop {
  transform: translate(-50%, -50%) rotate(2deg);
  top: -60px;
  left: 50%;
  width: 80%;
}

#aboutPage .lineBottom {
  transform: translate(-50%, -50%) rotate(2deg);
  bottom: -80px;
  left: 50%;
  width: 90%;
}

// Projects
#projectsPage {
  height: max-content;
}

#projectsPage .projectElement img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
}

#projectsPage .projectElement:hover {
  cursor: pointer;
  scale: 0.95;
  border-color: $mainColor;
  transform: rotate(5deg);
}

.projectElement {
  border: solid 4px $secondaryColor;
  padding: 0;
  border-radius: 12px;
  transition: $transition;
}

#projectsPage .lineLeft {
  transform: translate(-50%, -50%) rotate(100deg);
  bottom: 40%;
  left: 20%;
  width: 80%;
}

#projectsPage .lineRight {
  transform: translate(-50%, -50%) rotate(100deg);
  bottom: 40%;
  left: 25%;
  width: 70%;
}

// Contact
#contactPage hr {
  height: 6px;
  background-color: $mainColor;
  border-radius: 8px;
  border: none;
  opacity: 1;
}

#contactPage #socials path {
  color: $secondaryColor;
  transition: $transition;
}

#contactPage #socials svg:hover path {
  scale: 0.95;
  transform: rotate(5deg);
}

#contactPage input,
#contactPage textarea {
  width: 100%;
  background-color: black;
  border: solid 2px white;
  border-radius: 5px;
  padding: 5px;
}

#contactPage input:focus,
#contactPage textarea:focus {
  border: solid 2px $mainColor !important;
  outline: none;
}

#contactPage p {
  margin: 0;
}

// newPage
#newPage {
  height: 100vh;
}

#newPage img {
  border-radius: 8px;
}

#newPage .scrollingFrame {
  overflow-y: auto;
}

#newPage .line.lineLeft {
  transform: translate(-50%, -50%) rotate(97deg);
  bottom: 50%;
  right: -70vh;
  width: 90vh;
}

#newPage .line.lineRight {
  transform: translate(-50%, -50%) rotate(97deg);
  bottom: 50%;
  right: -43vh;
  width: 70vh;
}

// phoneView
@media screen and (max-width: 1000px) {
  #navigation {
    display: none !important;
  }

  .page {
    padding: 20px;
  }

  #projectsPage {
    margin-top: 650px;
  }

  #homePage .imageContainer {
    display: none;
  }

  #homePage .line {
    display: none;
  }

  .aboutElement {
    width: 100%;
  }

  // newPage
  #newPage {
    width: 100% !important;
  }

  #newPage .scrollingFrame {
    height: 50vh !important;
  }

  #newPage img {
    max-width: 100% !important;
  }
}